* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  border: none;
}

html,
body {
  font-size: 16px;
  color: black;
}

.t-nav-links {
  background: var(--darkBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0.4rem 8rem;
  color: black;
}

.t-nav-links {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.t-nav-items {
  text-transform: uppercase;
  text-decoration: none;
  color: var(#0000);
  margin-right: 4rem;
}

.trial-1 {
  display: flex;
}

.trial-1 .t-nav-links {
  margin: 6rem;
}

.t-nav-items > a {
  color: #000;
}
