* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  border: none;
}

html,
body {
  font-size: 16px;
  color: black;
  font-family: "popping";
}

.t-nav-links {
  background: var(--darkBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0.4rem 8rem;
  color: black;
}

.t-nav-links {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.t-nav-items {
  text-transform: uppercase;
  text-decoration: none;
  color: var(#0000);
  margin-right: 4rem;
}

.trial-1 {
  display: flex;
}

.trial-1 .t-nav-links {
  margin: 6rem;
}

.t-nav-items > a {
  color: #000;
  font-size: large;
}

.t-nav .t-header {
  display: grid;
}

.t-header {
  margin-left: 250px;
}

.t-header > h4 {
  font-size: 0.8;
}

.t-header > .t-text {
  justify-content: space-between;
  padding-top: 2rem;
}

.t-header > h2 {
  padding-top: 2rem;
}

.t-buttons {
  display: flex;
  padding: 2rem;
}

.t-sign-in {
  margin-left: 45px;
  width: 85px;
  height: 15vh;
}

.down {
  width: 200px;
  height: 5vh;
  color: #ffff;
  background-color: black;
  border-radius: 0.3rem;
}

.sign {
  width: 200px;
  height: 5vh;
  border-radius: 0.3rem;
}
